{% include "tasks/tasks_js.js" %}
{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Task</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class="row">
  <!-- Question List -->
  <div class="col-md-9 col-md-offset-2" id="questionList">
  </div>
</div>
<div class="row col-md-8 col-md-offset-2">
<input type="button" value="Submit" id="submit" class="btn btn-success btn-lg pull-right">

</div>
{% endblock %}
{% block js_bottom %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='jquery-ui-1.10.3.custom/development-bundle/themes/smoothness/jquery-ui.css')}}" />
<script src="{{url_for('static', filename='jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script type="text/javascript">

  $(document).ready(function(){
    var html_content = '{{content|safe}}';
    $('#questionList').html(html_content);
    $('#submit').click(function(){
      var automaticQuestions = [];
      var manualQuestions = [];
      $('.automatic-grading').each(function(){
        var question = $(this);
        var data = {};
        data['options'] = [];
        data['questionID'] = question.attr('id');
        data['questionContent'] = question.find(".question-content").text();
        question.find(':radio:visible').each(function(){
          data['options'].push($(this).attr('id'));
        });
        data['selectedOption'] = question.find(':radio:checked').attr('id');
        data['selectedOptionText'] = question.find(':radio:checked').parent().next('p').text();
        automaticQuestions.push(data);
      });
      $('.manual-grading').each(function(){
        var question = $(this);
        var data = {};
        data['questionID'] = question.attr('id');
        data['response'] = question.find('#student-response').val();
        data['questionContent'] = question.find(".question-content").text();
        manualQuestions.push(data);
      });
      var endTaskTime = new Date();
      console.log(endTaskTime);
      var totalTaskTime = endTaskTime.getTime() - startTaskTime.getTime();
      var data = {};
      data['automatic_questions'] = automaticQuestions;
      data['supplementary'] = supplementaryInformationTimes;
      data['manual_questions'] = manualQuestions;
      data['startTaskTime'] = getFormattedDatetime(startTaskTime);
      data['endTaskTime'] = getFormattedDatetime(endTaskTime);
      data['totalTaskTime'] = totalTaskTime/1000;
      $.ajax({
        url: window.location.pathname,
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success:  function(data) {
          window.location.href='{{url_for("home")}}'
        },
        error: function(data){
          console.log(data);
        }
      });
    });
    var startTaskTime = new Date();
  });
  function getFormattedDatetime(time) {
    var month = ('0' + (time.getMonth() + 1)).slice(-2)
        date = ('0' + time.getDate()).slice(-2),
        year = time.getFullYear();
    return month + '/' + date + '/' + year + ' ' + time.toLocaleTimeString();

  };
 
</script>

{% endblock %}