{% include "tasks/tasks_js.js" %}
{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Layout Selector</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class="row">
  <!-- Sidebar -->
  <div class="col-md-1 EDIT_ONLY" style="position:fixed">
    {% for element in elements %}
      <div class="element" style="border:1px;border-style:outset;border-radius:5px" data-name="{{ element.name }}" data-filepath="{{ element.filePath }}">
        {% if element.image %}
          <img src="{{ element.image }}" style="width:70px;height:70px">
        {% else %}
          <img src="../static/images/Manda-Pie-Back-To-School-Books.ico" alt="Mountain View" style="width:70px;height:70px">
        {% endif %}
        <br>
        &nbsp;&nbsp;{{ element.name }}
      </div>
      <br>
    {% endfor %}
  </div>

  <!-- Question List -->
  <div class="col-md-9 col-md-offset-2" id="questionList">
    <div class="row">
      <div id="elementWell" class="elementWell EDIT_ONLY" style="border:1px;border-style:dashed;border-radius:5px;height:300px" align="center">
        <br><br>To begin, drag elements onto the screen.
      </div>
    </div>
    <br>
    <div class="row">
        <button type="button" class="btn btn-default btn-lg pull-right TAKE_ONLY PREVIEW_ONLY" style="display:None" onclick="showModal('submission-modal')">Create Task</button>
        <p class="pull-right PREVIEW_ONLY">&nbsp;&nbsp;</p>
        <button type="button" class="btn btn-danger btn-lg pull-right EDIT_ONLY" aria-expanded="false" id="delete-all">Delete All</button>
        <p class="pull-right PREVIEW_ONLY">&nbsp;&nbsp;</p>
        <button type="button" class="btn btn-lg btn-success pull-right PREVIEW_ONLY" aria-expanded="false" id="preview">Preview</button>
    </div>
  </div>
</div>

<!-- Submission modal -->
<div id="submission-modal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Task</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="taskTitle">Task Title</label>
              <input type="text" class="form-control" id="taskTitle" placeholder="Task Title">
            </div>
            <style>
              #taskDueDate{z-index:1151 !important;}
            </style>
            <div class="form-group">
              <label for="taskDueDate">Due Date</label><br>
              <div class="col-xs-6">
              <input id='taskDueDate' type='text' class="form-control" placeholder="mm/dd/yyyy"/>
              </div>
              <div class="col-xs-6">
              <input id='taskDueTime' type='text' class="form-control time ui-timepicker-input" placeholder="HH:MM(pm|am)"/>
              </div><br><br>
            </div>
            <div class="form-group">
              <label for="taskForCourse">Associate with Course</label><br>
              <button id="taskForCourse" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a course<span class="caret"></span></button>
              <ul class="dropdown-menu" aria-labelledby="dLabel" role="menu" id="taskbuilder_viewable_courses"></ul>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end submission modal -->
{% endblock %}
{% block js_bottom %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='jquery-ui-1.10.3.custom/development-bundle/themes/smoothness/jquery-ui.css')}}" />
<script src="{{url_for('static', filename='jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script type="text/javascript" src="/static/jquery.timepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/jquery.timepicker.css" />
<script type="text/javascript">
  var nextChoiceID = "choice" + 0;
  var nextQuestionID = "question" + 0;
  $(document).ready(function(){
    
    makeDroppable($('div.elementWell'));

    getCoursesTeaching();

    $("div.element").draggable({
      scroll: true,
      revert: true,
      distance: 25,
      stack: "div.element"
    });

    $('#preview').click(function(){
      $('.EDIT_ONLY').toggle();
      $('.TAKE_ONLY').toggle();
      $('.delete-if-empty').each(function(){
        var toCheck;
        if($(this).hasClass('panel-heading')){
          toCheck = $(this).find('h3');
        } else if($(this).hasClass('question-content')){
          toCheck = $(this).find('textarea')
        } else{
          toCheck = $(this)
        }
        if(toCheck.html().trim().length == 0){
          $(this).hide();
        }
      });
      if ($(this).text() == "Preview"){
        $(this).text("Edit");
      }
      else {
        $(this).text("Preview");
      }
    });

    $('#delete-all').click(function(){
      $('button.delete-question').each(function(){
        deleteAllQuestions();
      });
    });

    $("#taskDueDate").datepicker();
    $("#taskDueTime").timepicker();
  });
</script>

{% endblock %}
