{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Personal Gradebook - Student</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class= "row">
	<div id= "coursePanels" class="col-md-10 col-md-offset-2" style="width:800px;">
		
	</div>
</div>

{% endblock %}

{% block js_bottom %}
{{ super() }}

<script type="text/javascript">
	
	function getClassList() {
        $.ajax({
            url         :'{{ url_for("class_list")}}',
            type        :"GET",
            success     :function(result) {
                var classList = $.parseJSON(result);
                var strClassList="";

                for(var i=0; i < classList.length;i++){
                    strClassList+="<a href='{{url_for('author_grades', courseID='')}}" + (parseInt(classList[i].id) + 1000) + "' class='list-group-item'>";
                    strClassList+=classList[i].name;
                    strClassList+="</a>";
                }
                $('#coursePanels').html(strClassList);
            }
        });
    }

	$(document).ready(function() {
        getClassList();
    })	
	
</script>

{% endblock %}