{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Personal Gradebook</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class= "row">
	<table id= "grades" class = "table table-bordered">
	<tr>
		<td>Student Name</td>
		{% for t in course_tasks['course_tasks'] %}
			<td>{{t.title}}</td>
		{% endfor %}
	</tr>
	{% for u in data %}
	<tr>
		<td>{{u['user'].name}}</td>
		{% for t in u['tasks'] %}
		<td>{{t['response'].correctness_grade}}</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
</div>

{% endblock %}

{% block js_bottom %}
{{ super() }}

<script type="text/javascript">

	$(document).ready(function() {
       
    });
	
</script>

{% endblock %}

<!--

-->