{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Course</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-10 col-md-offset-2" style="width:800px;">
        <div class="page-header">
            <h1>{{course.name}} <small>{{course.title}}</small></h1>
            <p class="text-muted">{{author.name}}: <a href="mailto:{{author.email}}">{{author.email}}</a></p>
        </div>
        <h3>Tasks </h3>
        <div id="course-task-list" class="list-group">
            <a href="" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">No Tasks</div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block js_bottom %}
{{ super() }}
<script>    
    function getCourseTaskList() {
        $.ajax({
            url         :"{{ url_for('course_task_list', courseID='')}}" + (parseInt("{{course.id}}") + 1000),
            type        :"GET",
            success     :function(result) {
                var taskList = $.parseJSON(result);
                
                var strTaskList="";
                for(var i=0; i < taskList.length;i++){
                    strTaskList+="<a href='" + "{{url_for('task_view', taskID='')}}" + taskList[i].id + "' class='list-group-item'>";
                    strTaskList+=taskList[i].title;
                    strTaskList+="</a>";
                }
                if(taskList.length == 0){
                    strTaskList+="<a href='#' class='list-group-item'>No Tasks</a>";
                }
                $('#course-task-list').html(strTaskList);
            }
        });
    }
    $(document).ready(function() {
        getCourseTaskList();
    })
</script>
{% endblock %}