{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Personal Gradebook - Student</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class= "row" id="course>
	<div class="col-md-11">
		<div class="panel panel-default">
			<div class="panel-heading" style="text-align:center"><strong>Course 1</strong></div>
			<table class="table">
				<tr>
					<td>Assignment 1</td>
					<td>Graded:11/2/14</td>
					<td>Grade:A</td>
				</tr>
				<tr>
					<td>Assignment 2</td>
					<td>Graded:11/2/14</td>
					<td>Grade:B+</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<br>
<div class= "row">
	<div class="col-md-11">
		<div class="panel panel-default">
			<div class="panel-heading" style="text-align:center"><strong>Course 2</strong></div>
			<table class="table">
				<tr>
					<td>Assignment 1</td>
					<td>Graded:11/2/14</td>
					<td>Grade:A</td>
				</tr>
				<tr>
					<td>Assignment 2</td>
					<td>Graded:11/2/14</td>
					<td>Grade:B+</td>
				</tr>
			</table>
		</div>
	</div>	
</div>

<script type="text/javascript">
	function getCourseList(){
		.ajax{
			
		}
	}
</script>
{% endblock %}


<!--Need to know how many courses user has, can get from database-->
<!--Each Course contains
	course name
	assignments
		date graded
		grade
-->
