{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Home</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-10 col-md-offset-2" style="width:800px;">
        <!-- <button id="testbtn" class="btn btn-sm btn-primary">TEST DB</button> -->
        <h3>Courses </h3>
        <div id="class-list" class="list-group">
            
        </div>
        <h3>Tasks </h3>
        <div id="task-list" class="list-group">
            <a href="" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">Asignment 1</div>
                    <div class="col-md-2 col-md-offset-8">due on 10/3</div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block js_bottom %}
{{ super() }}
<script>    
    
    function getClassList() {
        $.ajax({
            url         :'{{ url_for("class_list")}}',
            type        :"GET",
            success     :function(result) {
                var classList = $.parseJSON(result);
                var strClassList="";

                for(var i=0; i < classList.length;i++){
                    strClassList+="<a href='../course/view/" + classList[i].name + "' class='list-group-item'>";
                    strClassList+=classList[i].name;
                    strClassList+="</a>";
                }
                $('#class-list').html(strClassList);
            }
        });
    }

    function getTaskList() {
        $.ajax({
            url         :'{{ url_for("task_list")}}',
            type        :"GET",
            success     :function(result) {
                var taskList = $.parseJSON(result);
                
                var strTaskList="";
                for(var i=0; i < taskList.length;i++){
                    strTaskList+="<a href='#" + "' class='list-group-item'>";
                    strTaskList+="Assignment";
                    strTaskList+="</a>";
                }
                $('#task-list').html(strTaskList);
            }
        });
    }

    $(document).ready(function() {
        getClassList();
        getTaskList();
    })
</script>
{% endblock %}