<div class="row question-parent">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 id="p_title" class="TAKE_ONLY"></h3>
        <input type="text" id="title" class="form-control EDIT_ONLY" placeholder="Element Title" onchange="textChange(this)"><br>
      </div>
      {% block answer_details %}
      {% endblock %}
      <div class="panel-footer EDIT_ONLY">
        <button type="button" class="delete-question btn btn-danger pull-left">Delete Element</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% block js_bottom %}
{% endblock %}
<script type="text/javascript">
$(document).ready(function(){
  $('.delete-question').click(function(){
    var row = $(this).closest('.row');
    row.fadeOut(200, function(){row.remove()});
    if($(".question-parent").length <= 1){
      $('#elementWell').css("height","300px");
      $('#elementWell').html("<br><br>To begin, drag elements onto the screen.");
    }
  });
  $('.TAKE_ONLY').hide();
});
</script>