<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 id="p_title" class="TAKE_ONLY"></h3>
        <input type="text" id="title" class="form-control EDIT_ONLY" placeholder="Element Title" onchange="textChange(this)"><br>
      </div>
      {% block answer_details %}
      {% endblock %}
      <div class="panel-footer">
        <button type="button" class="EDIT_ONLY delete-question btn btn-danger pull-left">Delete Element</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% block js_bottom %}
{% endblock %}
<script type="text/javascript">
$(document).ready(function(){
  $('.delete-question').click(function(){
    $(this).closest('.row').remove();
  });
  $('.TAKE_ONLY').hide();
});
</script>