{% extends "layout.html" %}

{% block header_css %}
<head>
  <title>Login</title>
  {{super()}}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='bootstrap3/css/login.css') }}">
</head>
{% endblock %}

{% block body %}
  <div id="loginInput" class="login">
    <!-- <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LearnTrace Sign In</h1> -->
    <label></label>
    <div class="row" align="center">
      <h1>
      <img src='../../static/images/brain.png' width="125px" height="125px"/>
      <img src='../../static/images/LearnTrace2.png' width="150px" height="125px"/>
      </h1> 
    </div>
    <br>
    <p>
      <label for="login">Email:</label>
      <input type="email" name="login" id="email" placeholder="example@email.com" autofocus>
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="••••••••">
    </p>
    <br>
    <p>
      <label for="loginError"> </label>
      <span id="loginError"></span>
    </p>
    <br>
    <button id="submit" type="submit" class="btn btn-success btn-lg col-md-9 col-md-offset-3">Login</button>
    <br>&nbsp;
    <button id="register" class="btn btn-primary btn-lg col-md-9 col-md-offset-3">Register</button>
  </div>
{% endblock %}

{% block js_bottom %}
{{ super() }}
<script type="text/javascript">
$(document).ready(function(){

  $('#register').click(function(){
    window.location.href = "{{url_for('register')}}"
  });

  $("#submit").click(function(){
    submit();
  });

  $("#loginInput").keypress(function(event) {
      if (event.which == 13) {
          event.preventDefault();
          submit();
      }
  });

  $("#page-nav").hide();

});

function submit(){

  $.ajax({
        url: '{{ url_for("login") }}',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          'email': $("#email").val(),
          'password': $("#password").val(),
        }),
        success:  function(data) {
          if(data == "Failure"){  
            $("#loginError").text("Wrong Username or Password");
            $("#loginError").css('color', 'red');
            $("#loginError").css('font-weight', 'bold');
          }else{
            window.location.href=$.parseJSON(data)["next_url"];
          }
        }
      });
}

</script>


{% endblock %}