{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Layout Selector</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class="row">
  <!-- Sidebar -->
  <div class="col-md-1">
    {% for element in elements %}
      <div class="element" style="border:1px;border-style:outset;border-radius:5px">
        {% if element.image %}
        {% else %}
          <img src="../static/images/Manda-Pie-Back-To-School-Books.ico" alt="Mountain View" style="width:100px;height:100px">
        {% endif %}
        <br>
        &nbsp;&nbsp;{{ element.name }}
      </div>
      <br>
    {% endfor %}
  </div>
  <!-- Question List -->
  <div class="col-md-9 col-md-offset-1">
    <div class="row">
      <div class="elementTarget col-md-7" style="border:1px;border-style:dashed;border-radius:5px;height:100px">
        <br><br>Drag Element Here
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js_bottom %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='jquery-ui-1.10.3.custom/development-bundle/themes/smoothness/jquery-ui.css')}}" />
<script src="{{url_for('static', filename='jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('div.elementTarget').droppable({
      hoverClass: 'ui-state-hover',
      drop: function(event, ui){
        var element = ui.draggable;
        element.focus();
        $(this).effect("highlight");
        console.log("Dropped");
      }
    });

    $("div.element").draggable({
      scroll: true,
      revert: true,
      distance: 25,
      stack: ".element"
    });
    
  });
</script>

{% endblock %}