{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Personal Gradebook - Student</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class= "row">
    <div class="col-md-8 col-md-offset-2">
        {% for d in tasks %}
            <div id="courses" class="panel panel-default">
                <div id="class-{{ d['course'].id }}" class="panel-heading" style="text-align:center">
                    <strong>{{d['course'].name}}</strong>
                </div>
                <div class="panel-body">
                    <table width="90%">
                        <tr>
                            <th width="50%">Title</th>
                            <th width="25%">Due Date</th>
                            <th width="25%">Grade</th>
                        </tr>
                        {% for task in d['tasks'] %}
                            <tr>
                                <td width="50%">{{ task['task'].title }}</td>
                                <td width="25%">{{ task['task'].duedate }}</td>
                                <td with="25%">A+</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js_bottom %}
{{ super() }}

<script type="text/javascript">
	
</script>

{% endblock %}