{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Task</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<div class="row">
  <!-- Question List -->
  <div class="col-md-9 col-md-offset-2" id="questionList">
  </div>
</div>
{% endblock %}
{% block js_bottom %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='jquery-ui-1.10.3.custom/development-bundle/themes/smoothness/jquery-ui.css')}}" />
<script src="{{url_for('static', filename='jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script type="text/javascript">


  $(document).ready(function(){
    $('#questionList').html('{{content|safe}}');

  });
</script>

{% endblock %}