{% extends "layout-question.html" %}
{% block answer_details %}
  <div class="panel-body manual-grading" id="notSet">
  	<div class="delete-if-empty question-content">
    	<textarea id="body" class="form-control EDIT_ONLY" placeholder="Question Content" onchange="textChange(this)"></textarea>
    	<p id="p_body" class="TAKE_ONLY"></p>
    	<hr>
    </div>
    <textarea id="student-response" class="form-control" placeholder="Student Answer Here" onchange="textChange(this)"></textarea><br>
  </div>
{% endblock %}
{% block js_bottom %}
<script type="text/javascript">
$(document).ready(function(){
    $('#notSet').attr('id', nextQuestionID);
    nextQuestionID = "question" + (parseInt(nextQuestionID.split("question")[1]) + 1);
});
</script>
{% endblock %}
