{% extends "layout-question.html" %}
{% block answer_details %}
  <div class="panel-body">
    <div class="supplementary-target">
    </div>
    
    <div class="dropdown EDIT_ONLY">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Add Material
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="addVideo(this)">Video</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="addAudio(this)">Audio</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="addText(this)">Text</a></li>
      </ul>
    </div>
    <br>Note: Currently only videos are supported as supplementary materials.
  </div>

  <div id="wp-video-template" style="display:none">
    <div class="wp-video">
      <div class="panel-body wp-video-panel col-md-3" align="center" onclick="clickVideo(this)">
        <img src="../static/images/video-button.png" style="width:140px;height:140px">
      </div>
      <input type="text" class="form-control EDIT_ONLY wp-video-src" placeholder="Post Video URL here">
      <!-- Video modal -->
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="420" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="wp-audio-template" style="display:none">
    <div class="wp-video">
      <!-- TODO implement a clickAudio function -->
      <div class="panel-body wp-video-panel col-md-3" align="center">
        <img src="../static/images/audio-button.jpg" style="width:140px;height:140px">
      </div>
      <div class="EDIT_ONLY">
        <div class="row"/>
        <input name="Audio file" type="file">
        <br>
      </div>
      <!-- Audio modal -->
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div align="center">
                <audio controls>
                  <source src="horse.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="wp-text-template" style="display:none">
    <div class="wp-video">
      <!-- TODO implement a clickText function -->
      <div class="panel-body wp-video-panel col-md-3" align="center">
        <img src="../static/images/text-button.png" style="width:140px;height:140px">
      </div>
      <div class="EDIT_ONLY">
        <div class="row"/>
        <input name="Text file" type="file">
        <br>
      </div>
      <!-- Text modal -->
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="420" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}