{% extends "layout-question.html" %}
{% block answer_details %}
  <div class="wp-video">
    <div class="panel-body wp-video-panel" align="center">
      <h1>Watch Video</h1>
    </div>
    <input type="text" class="form-control EDIT_ONLY wp-video-src" placeholder="Post Video URL here"><br>
     <!-- Video modal -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Video title here</h4>
          </div>
          <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="420" height="315" src="" frameborder="0" allowfullscreen></iframe>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
  </div>
{% endblock %}

{% block js_bottom %}
<script type="text/javascript">
function getVideoURL(original){
  // will likely need to add more url handlers later, 
  // for now we support youtube urls
  if(original.indexOf("<iframe") >= 0){
    var src = original.substring(original.indexOf('src="')+5);
    src = src.substring(0,src.indexOf('"'));
    return src;
  } else if(original.indexOf("watch?v=") >= 0){
    return original.replace("watch?v=","embed/")
  } else {
    return original;
  }
}
// TODO still need to get 2 videos in 1 page working
// the modals appear to be conflicting
$(document).ready(function(){
  $('.wp-video-panel').click(function(){
    var src = $(this).parent().find('.wp-video-src').val();
    src = getVideoURL(src);
    $(this).parent().find('iframe').attr('src', src);
    $(this).parent().find('.modal').modal('toggle');
    $('.modal').on('hidden.bs.modal', function () {
      $('iframe').attr('src', $('iframe').attr('src'));
    })
  });
});
</script>
{% endblock %}