{% extends "layout.html" %}
{% block header_css %}
<head>
    <title>Response View</title>
    {{ super() }}
</head>
{% endblock %}
{% block body %}
<br>
<div class="row">
  <div class="col-md-2 vertical-line">
      <h4>Summary</h4>
      Student: <p class="text-muted">{{ student.name }}</p>
      Student Email: <p class="text-muted">{{ student.email }}</p>
      Task Title: <p class="text-muted">{{ task.title }}</p>
      Date of Response: <p class="text-muted">{{ time }}</p>
      Correctness Grade: <p class="text-muted">{{task_response.correctness_grade}}%</p>
      Cognitive Grade: <p class="text-muted">{{task_response.cognitive_grade}}%</p>

  </div>
  <div class="col-md-5 vertical-line">
      <h4>Manual Grading Required</h4>
      {% for manual_question in response['manual_questions'] %}
        <div class="panel panel-warning">
          <div class="panel-heading">{{manual_question['questionID']}}</div>
          <div class="panel-body">
            Question Content: {{manual_question['questionContent']}}<br>
            Response: {{manual_question['response']}}
          </div>
        </div>
      {% endfor %}<br>
      <h4>Automatically Graded</h4>
      {% for automatic_question in response['automatic_questions'] %}
        <div class="panel {% if automatic_question['correct'] %}panel-success{% else %}panel-danger{% endif %}">
          <div class="panel-heading">{{automatic_question['questionID']}}</div>
          <div class="panel-body">
            Question Content: {{automatic_question['questionContent']}}<br>
            Correct Answer: {{automatic_question['correctOptionText']}}<br>
            Response: {{automatic_question['selectedOptionText']}}<br>
          </div>
        </div>
      {% endfor %}
  </div>
  <div class="col-md-5 vertical-line">
      <h4>Supplementary Material</h4>
      {% for supp in supplementary %}
        <div class="panel {% if supp['sufficient'] %}panel-success{% else %}panel-danger{% endif %}">
          <div class="panel-heading">{{supp['title']}}</div>
          <div class="panel-body">
            ID: {{supp['id']}}<br>
            Title: {{supp['title']}}<br>
            Time: {{ '%s seconds' % supp['time'] if supp['time'] else 'Did not view' }}<br>
            Expected Time: {{supp['expected_time']}} seconds
          </div>
        </div>
      {% endfor %}<br>
  </div>
</div>
{% endblock %}
{% block js_bottom %}
{{ super() }}
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['gauge']}]}"></script>
<script type="text/javascript">

  $(document).ready(function() {});
</script>
{% endblock %}